@import "normalize.css";
body {
	background: #ccc;
	color: #fff;
}
p {margin: 0;}

.container {
	width: 980px;
	margin: 0 auto;
	background: magenta;
	border: 1px solid #000;
}
.oscuro {
	background: #444;
	border-radius: 5px;
	margin: 2px;
	padding: 10px;
} 
.claro {
 	background: #ccc;
}
nav, aside, article, footer {
	background: #888;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 10px 12px;
}

.content {
	background: #666666;
	text-align: center;
	border-radius: 10px;
	width: 53%;
	height: 300px;
	float: left;
	padding: 30px;
	margin: 10px 15px auto;
	font-size: 14px;

}
.navigation {
	width: 10%;
	height: 300px;
	float: left;
	font-size: 12px;
	background-color: blue;
}
.sidebar {
	width: 10%;
	height: 300px;
	float: right;
	font-size: 10px;
	background: magenta;
}

.footer {width: 91%; 
	float:left; 
	margin: 10px;
	font-size: 10px;
	background: magenta;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: ".";
	clear: both;
	height: 0;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
.header {
	background: magenta;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 10px 12px;
	font-size: 46px;
}
.header3 {
	background: #888;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 10px 12px;
	background: #CCCCCC;
}
header,nav,section,article,footer,aside{
	font-size: 20px !important;
}

.oh-no-inline-styles{
	background: green !important;
}