body {
	margin: 0px;
	padding: 0px;
	border: 0px;
}
#Container {
	margin: 0px auto;
	position: center;
	background-color: #EBE7F8;
	width: 80%;
	text-align: center;	
}
.textoRandom {
	background-color: #DDDAE4;
}
.textoOculto {	
	display: none;
	width: 100%;
	text-align: center;
}
.welcome{
}
#article{	
	height: 100%;
	width: 40%;
	margin:5px right;	
	display: inline-block;
	text-align: center;
}
#article img{
	height: 100%;
	width: 100%;

}
#marco{
	text-align: right;
	margin-right: 10px;

}
#titulo{
	font-size: 40px;
	font-weight: bolder;
}
.parrafos{
	font-size:25px;

}